@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
body{
	color: #7ed957;
	font-family: 'Muli',sans-serif;
	background: #000;
}
label{
	font-size: 1rem;
}

input{
	padding: 5px;
	font-family: inherit;
	font-size: inherit;
	background: #000;
	border: 1px solid #7ed957;
	color: inherit;
}	
form{
	max-width: 600px;
}
.btn-form-submit{
	background: #7ed957;
	border: none;
	border-radius: 20px;
	font-family: inherit;
	font-size: inherit;
	color: #000;
	font-weight: bold;
	padding: 8px 30px;
}

.link{
	color: #7ed957;
	text-decoration:none;
	border-bottom: 1px solid #fff;
}

.helptext{
	font-size: .9rem;
}
ul{
	display: none
}
#id_bio, #id_website{
	background: inherit;
	border: 1px solid #7ed957;
	color: #7ed957;
}
.form-control:focus{
	box-shadow: 0 0 0 0.2rem #91ff0040;
}
.new-button {
    display: inline-block;
    padding: 0px 30px; 
    cursor: pointer;
    border-radius: 20px;
    background-color: #7ed957;
    font-size: 1rem;
    color: #000;
}
input[type="file"] {
  	left: 0;
  	font-size: 15px;
  	color: rgb(153,153,153);
  	padding: 5px 15px;
  	visibility: hidden;
}

.badge-success{
	background: #7ed957;
	color: #000;
	padding: 5px 20px;
	border-radius: 20px;
	width: 120px;
}

.modal-header{
	background: #000;
	border: 1px solid #7ed957;
}

.modal-body{
	background: #000;
	border: 1px solid #7ed957;
}

.modal-footer{
	background: #000;
	border: 1px solid #7ed957;
}
.navbar{
	background: #000;
	font-weight: 400;
	border-bottom: 1px solid #fff;
}

.navbar a{
	color: #7ed957;
}

.navbar-icon{
	width: 30px;
	height: 2px;
	background: #7ed957;
	border: 1px solid #7ed957;
	margin: 3px;
}

.navbar-toggler{
	display: flex;
	flex-direction: column;
}
.navbar-brand{
	font-weight: bold;
}
.btn-login{
	border-radius: 20px;
	line-height: 35px;
	background: #7ed957;
}
