{% extends 'base.html' %}
{% load static %}
{% load humanizelib %} 
{% block title %} Profile {{profile.user}} {% endblock %} 
{% block body %}
<div
  id="page-content"
  class="wrapper stories stories-index"
  data-current-page="stories-index"
>
  <div id="page-content-inner">
    <style>
      :root {
        --profile-brand-color: #000000;
      }
    </style>
    <div class="brand-bg">
      <div class="crayons-layout crayons-layout--limited-l pt-7 m:pt-9">
        <header class="profile-header crayons-card mt-2">
          <div class="relative profile-header__top">
            <span class="crayons-avatar crayons-avatar--3xl">
              <img
                src="{{profile.profile_picture.url}}"
                alt="{{profile}} profile picture"
                class="crayons-avatar__image"
                width="128"
                height="128"
              />
            </span>

            <div class="profile-header__actions">
              <div class="profile-dropdown mr-2 relative"></div>
              <a
                href="/connect/@devmehta"
                class="hidden mr-2"
                id="user-connect-redirect"
              >
                <button
                  class="chat-action-button crayons-btn crayons-btn--outlined hidden"
                  id="modal-opener"
                >
                  Chat
                </button>
              </a>
              {% if sameUser %}
              <a
                href="/{{profile}}/edit-profile"
                target="_blank"
                id="user-follow-butt"
                class="crayons-btn whitespace-nowrap follow-action-button user-profile-follow-button showing"
              >
                Edit profile
              </a>
              {% else %}
              <button
                id="user-follow-butt"
                class="crayons-btn whitespace-nowrap follow-action-button user-profile-follow-button showing"
              >
                {{follow_action_text}}
              </button>
              {% endif %}
            </div>
          </div>

          <div class="profile-header__details">
            <h1 class="crayons-title fw-heavy mb-2">{{profile.name}}</h1>
            <p
              class="fs-base m:fs-l color-base-90 mb-4 mx-auto max-w-100 m:max-w-75"
            >
              {{profile.bio|linebreaks}}
            </p>

            <div class="profile-header__meta">
              <span class="profile-header__meta__item">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  role="img"
                  aria-labelledby="agtrunt21894bjzvnvktdef62ze3d777"
                  class="crayons-icon mr-2 shrink-0"
                >
                  <title id="agtrunt21894bjzvnvktdef62ze3d777">Location</title>
                  <path
                    d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1112.728 0zM12 13a2 2 0 100-4 2 2 0 000 4z"
                  ></path>
                </svg>

                {{profile.location}}
              </span>

              <span class="profile-header__meta__item">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  role="img"
                  aria-labelledby="aphz6t0t2b18we9l4i0dccc17lqpd2rf"
                  class="crayons-icon mr-2 shrink-0"
                >
                  <title id="aphz6t0t2b18we9l4i0dccc17lqpd2rf">Joined</title>
                  <path
                    d="M8 6v3.999h3V6h2v3.999h3V6h2v3.999L19 10a3 3 0 012.995 2.824L22 13v1c0 1.014-.377 1.94-.999 2.645L21 21a1 1 0 01-1 1H4a1 1 0 01-1-1v-4.36a4.025 4.025 0 01-.972-2.182l-.022-.253L2 14v-1a3 3 0 012.824-2.995L5 10l1-.001V6h2zm11 6H5a1 1 0 00-.993.883L4 13v.971l.003.147a2 2 0 003.303 1.4c.363-.312.602-.744.674-1.218l.015-.153.005-.176c.036-1.248 1.827-1.293 1.989-.134l.01.134.004.147a2 2 0 003.992.031l.012-.282c.124-1.156 1.862-1.156 1.986 0l.012.282a2 2 0 003.99 0L20 14v-1a1 1 0 00-.883-.993L19 12zM7 1c1.32.871 1.663 2.088 1.449 2.888a1.5 1.5 0 11-2.898-.776C5.85 2.002 7 2.5 7 1zm5 0c1.32.871 1.663 2.088 1.449 2.888a1.5 1.5 0 01-2.898-.776C10.85 2.002 12 2.5 12 1zm5 0c1.32.871 1.663 2.088 1.449 2.888a1.5 1.5 0 01-2.898-.776C15.85 2.002 17 2.5 17 1z"
                  ></path>
                </svg>

                Joined on&nbsp;
                <time class="date"
                  >{{profile.user.date_joined.date|naturaltime}}</time
                >
              </span>
              <span class="profile-header__meta__item -ml-1">
                {% if profile.github_url %}
                <a
                  href="{{profile.github_url}}"
                  target="_blank"
                  rel="noopener me"
                  class="px-1 align-middle inline-block"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    role="img"
                    aria-labelledby="aqi6lzux3kwgloou3m416mzzye4wn7pj"
                    class="crayons-icon"
                  >
                    <title id="aqi6lzux3kwgloou3m416mzzye4wn7pj">
                      GitHub logo
                    </title>
                    <path
                      d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 006.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 012.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0022 12c0-5.525-4.475-10-10-10z"
                    ></path>
                  </svg>
                </a>
                {% endif %} {% if profile.instagram_url %}
                <a
                  href="{{profile.instagram_url}}"
                  target="_blank"
                  rel="noopener nofollow me"
                  class="px-1 align-middle inline-block"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    role="img"
                    aria-labelledby="adnyfezvli81qya5n77w9me922ur9s6t"
                    class="crayons-icon"
                  >
                    <title id="adnyfezvli81qya5n77w9me922ur9s6t">
                      Instagram logo
                    </title>
                    <path
                      d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153.509.5.902 1.105 1.153 1.772.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 01-1.153 1.772c-.5.508-1.105.902-1.772 1.153-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 01-1.772-1.153 4.904 4.904 0 01-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 011.153-1.772A4.897 4.897 0 015.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 100 10 5 5 0 000-10zm6.5-.25a1.25 1.25 0 10-2.5 0 1.25 1.25 0 002.5 0zM12 9a3 3 0 110 6 3 3 0 010-6z"
                    ></path>
                  </svg>
                </a>
                {% endif %} {% if profile.website %}
                <a
                  href="{{profile.website}}"
                  target="_blank"
                  rel="noopener nofollow me"
                  class="px-1 align-middle inline-block"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    role="img"
                    aria-labelledby="ab4t7lluv229nls6jv1z7y59skrqi4gv"
                    class="crayons-icon"
                  >
                    <title id="ab4t7lluv229nls6jv1z7y59skrqi4gv">
                      External link icon
                    </title>
                    <path
                      d="M10 6v2H5v11h11v-5h2v6a1 1 0 01-1 1H4a1 1 0 01-1-1V7a1 1 0 011-1h6zm11-3v8h-2V6.413l-7.793 7.794-1.414-1.414L17.585 5H13V3h8z"
                    ></path>
                  </svg>
                </a>
                {% endif %}
              </span>
            </div>
          </div>

          <div class="p-3 pt-0 block m:hidden js-user-info-trigger-wrapper">
            <button
              type="button"
              class="crayons-btn crayons-btn--outlined w-100 js-user-info-trigger"
            >
              More info about @devmehta
            </button>
          </div>

          <div class="crayons-modal align-left hidden">
            <div class="crayons-modal__box">
              <div class="crayons-modal__box__header">
                <h2 class="crayons-modal__box__header__title">
                  Chat with Dev Mehta
                </h2>
                <button
                  title="Close"
                  class="crayons-btn crayons-btn--ghost-dimmed crayons-btn--icon close-modal"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    role="img"
                    aria-labelledby="afeasppqpzetfaozb86phzsrry55f2hw"
                    class="crayons-icon"
                  >
                    <title id="afeasppqpzetfaozb86phzsrry55f2hw">
                      Close modal
                    </title>
                    <path
                      d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636l4.95 4.95z"
                    ></path>
                  </svg>
                </button>
              </div>

              <div class="crayons-modal__box__body">
                <form
                  id="new-message-form"
                  class="message-form mb-4"
                  data-info='{"id":503766,"className":"User","username":"devmehta", "showChat":"private"}'
                >
                  <textarea
                    id="new-message"
                    rows="4"
                    cols="70"
                    placeholder="Enter your message here..."
                    class="crayons-textfield"
                  ></textarea>
                  <button type="submit" class="submit-message crayons-btn">
                    Send
                  </button>
                </form>
                <p class="fs-s color-base-60">
                  All private interactions <b>must</b> abide by the
                  <a href="/code-of-conduct">code of conduct</a>.
                </p>
              </div>
            </div>
            <div class="crayons-modal__overlay"></div>
          </div>
        </header>
      </div>
    </div>

    <div
      class="crayons-layout crayons-layout--limited-l crayons-layout--2-cols crayons-layout--2-cols--1-2 pt-4 m:pt-0"
      id="index-container"
      data-params='{"user_id":503766,"class_name":"Article","sort_by":"published_at","sort_direction":"desc"}'
      data-which="articles"
      data-tag=""
      data-feed="base-feed"
      data-articles-since="0"
    >
      <div class="crayons-layout__sidebar-left">
        <div class="gap-2 m:gap-4 hidden m:grid js-user-info">
          <div class="crayons-card crayons-card--secondary">
            <header class="crayons-card__header">
              <h3 class="crayons-subtitle-3 flex items-center">
                GitHub Repositories
              </h3>
            </header>

            <div>
              {% for i in github_profile.repos.all %}
              <a
                href="{{i.url}}"
                target="_blank"
                rel="noopener"
                class="crayons-link crayons-link--contentful"
              >
                <p class="fw-bold flex items-center">{{i.name}}</p>
                <p class="fs-s color-base-80 mb-1">{{i.description}}</p>
                <p class="fs-s color-base-60 flex items-center">
                  {% ifnotequal i.top_language '' %} {{ i.top_language }}
                  <span class="opacity-50 inline-block px-1">•</span>
                  {% endifnotequal %} {% if i.fork %}
                  <span class="crayons-indicator mr-3">Fork</span>
                  {% endif %}
				  {% ifequal i.stars 1 %}
				  {{i.stars}} star 
				  {% else %}
				  {{ i.stars }} stars 
				  {% endifequal %}
                </p>
              </a>
              {% endfor %}
            </div>
          </div>

          <div class="crayons-card crayons-card--secondary p-4">
            <div class="flex items-center mb-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                role="img"
                aria-labelledby="ag9aw3nh7gfehlp4sk15aa99r9uwplb"
                class="crayons-icon mr-3 color-base-50"
              >
                <title id="ag9aw3nh7gfehlp4sk15aa99r9uwplb">Post</title>
                <path
                  d="M19 22H5a3 3 0 01-3-3V3a1 1 0 011-1h14a1 1 0 011 1v12h4v4a3 3 0 01-3 3zm-1-5v2a1 1 0 002 0v-2h-2zm-2 3V4H4v15a1 1 0 001 1h11zM6 7h8v2H6V7zm0 4h8v2H6v-2zm0 4h5v2H6v-2z"
                ></path>
              </svg>

              1 post published
            </div>
            <div class="flex items-center mb-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                role="img"
                aria-labelledby="aq426v9l2meh63ig3yc7vx5triqe8hmx"
                class="crayons-icon mr-3 color-base-50"
              >
                <title id="aq426v9l2meh63ig3yc7vx5triqe8hmx">Comment</title>
                <path
                  d="M10 3h4a8 8 0 010 16v3.5c-5-2-12-5-12-11.5a8 8 0 018-8zm2 14h2a6 6 0 000-12h-4a6 6 0 00-6 6c0 3.61 2.462 5.966 8 8.48V17z"
                ></path>
              </svg>

              1 comment written
            </div>
            <div class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                role="img"
                aria-labelledby="ap047yzd4gokhur822qm5tnjlgsqzh7m"
                class="crayons-icon mr-3 color-base-50"
              >
                <title id="ap047yzd4gokhur822qm5tnjlgsqzh7m">Tag</title>
                <path
                  d="M7.784 14l.42-4H4V8h4.415l.525-5h2.011l-.525 5h3.989l.525-5h2.011l-.525 5H20v2h-3.784l-.42 4H20v2h-4.415l-.525 5h-2.011l.525-5H9.585l-.525 5H7.049l.525-5H4v-2h3.784zm2.011 0h3.99l.42-4h-3.99l-.42 4z"
                ></path>
              </svg>

              10 tags followed
            </div>
          </div>
        </div>
      </div>

      <main class="crayons-layout__content articles-list" id="articles-list">
        <div class="substories" id="substories">
		  {% for post in posts %}
          <div class="crayons-story">
            <a
              href="/{{post.url}}"
              class="crayons-story__hidden-navigation-link"
              >{{post}}</a
            >
            <div class="crayons-story__body">
              <div class="crayons-story__top">
                <div class="crayons-story__meta">
                  <div class="crayons-story__author-pic">
                    <a
                      href="/{{post.author}}"
                      class="crayons-avatar crayons-avatar--l"
                    >
                      <img
                        src="{{post.get_profile.profile_picture.url}}"
                        alt="{{post.author}} profile"
                        class="crayons-avatar__image"
                      />
                    </a>
                  </div>
                  <div>
                    <p>
                      <a
                        href="/{{post.author}}"
                        class="crayons-story__secondary fw-medium"
                      >
                        {{post.get_profile.name}}
                      </a>
                    </p>
                    <a
                      href="/{{post.author}}/{{post.url}}"
                      class="crayons-story__tertiary fs-xs"
                      ><time
                        >{{post.created_on.date}}</time
                      ></a>
                  </div>
                </div>
              </div>

              <div class="crayons-story__indention">
                <h2 class="crayons-story__title">
                  <a
                    href="/{{post.author}}/{{post.url}}"
                    >
                    {{post.title}}
                  </a>
                </h2>
                <div class="crayons-story__tags">
                  <p>{{post.content|striptags|truncatewords:20}}</p>
                </div>
                <div class="crayons-story__bottom">
                  <div class="crayons-story__details">
                    <a
                      href="/{{post.author}}/{{post.url}}"
                      class="crayons-btn crayons-btn--s crayons-btn--ghost crayons-btn--icon-left"
                      data-reaction-count=""
                      data-reactable-id="503506"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        role="img"
                        aria-labelledby="as1fm1xa31h6e52oxkdws2w57n3vim9m"
                        class="crayons-icon"
                      >
                        <title id="as1fm1xa31h6e52oxkdws2w57n3vim9m">
                          Reactions
                        </title>
                        <path
                          d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z"
                        ></path>
                      </svg>

                      {{post.likes}}
					  {% ifequal post.likes 1 %}
                      <span class="hidden s:inline">&nbsp;like</span>
					  {% else %}
                      <span class="hidden s:inline">&nbsp;likes</span>
					  {% endifequal %}
					</a>
                  </div>
                  <div class="crayons-story__save">
                    <small class="crayons-story__tertiary fs-xs mr-2">
                      {{post.get_readtime}} read
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
		  {% endfor %}
          <div class="paged-stories"></div>
          <div class="paged-stories"></div>

          <div class="profile-comment-card crayons-card mt-2 m:mt-0 mb-2">
            <div class="crayons-card__header">
              <h3 class="crayons-subtitle-2">Recent comments</h3>
            </div>
            <a href="/devmehta/comment/17fko" class="profile-comment-row">
              <h4 class="fw-bold fs-base m-0 mb-1">
                Python Zero to Hero #Beginners⚡
              </h4>
              <div class="inline-flex items-center fs-s gap-2">
                <p class="color-base-80">
                  Awesome Post. Saved a lot of time🔥 Here is why I would
                  recomm...
                </p>
                <p>
                  <small
                    class="color-base-60 fs-s comment-date whitespace-nowrap"
                  >
                    <time
                      datetime="2020-11-02T15:49:09Z"
                      title="Monday, November 2, 2020, 9:19:09 PM"
                      >Nov 2 '20</time
                    >
                  </small>
                </p>
              </div>
            </a>
          </div>

          <div class="placeholder-div"></div>
        </div>
        <div
          class="loading-articles"
          id="loading-articles"
          style="display: none"
        >
          loading...
        </div>
      </main>
    </div>
  </div>
</div>
{% if not sameUser %}
<script>
	const button = document.querySelector("#user-follow-butt");
	var following = "{{following}}"
	button.onclick = () => {
		button.disabled = true;
		if(following=="True"){
			button.innerHTML = "Follow"
			following = "False"
		} 
		else{
			button.innerHTML = "Following"
			following = "True" 
		}
		var xhttp = new XMLHttpRequest();
		if(window.XMLHttpRequest){
			xhttp = new XMLHttpRequest();
		} else {
			xhttp = new ActiveXObject("Microsoft.XMLHTTP");
		}
		xhttp.onreadystatechange = () => {
			if(xhttp.readyState == 4 && xhttp.status == 200){
				button.disabled = false;				
			}
		}
		xhttp.open("GET", "/follow/{{profile.user.username}}");
		xhttp.send()
	}

</script>
{% endif %}
{% endblock %}
