<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
body{
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	color: #7ed957;
	font-family: 'Muli',sans-serif;
	background: #000;
}
.login-form{
	padding: 30px 30px;
	border: 1px solid #7ed957;
}
.form-control:focus{
	box-shadow: 0 0 0 0.2rem #91ff0040;
}
label{
	font-size: 1.3rem;
}
.link:hover{
	color: #7ed957;
}
input{
	padding: 5px;
	font-family: inherit;
	font-size: inherit;
	background: #000;
	border: 1px solid #7ed957;
	color: inherit;
}
.btn-form-submit{
	background: #7ed957;
	border: none;
	border-radius: 20px;
	font-family: inherit;
	font-size: inherit;
	color: #000;
	font-weight: bold;
	padding: 8px 30px;
}

.link{
	color: #7ed957;
	text-decoration:none;
	border-bottom: 1px solid #fff;
}

.helptext{
	font-size: .9rem;
}
ul{
	display: none
}

#id_username, #id_password,#id_password1, #id_password2{
	background: inherit;
	color: inherit;
	border: 1px solid #7ed957
}

</style>