{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		#bio > p{
			margin-left: 30px;
			text-align: left;
		}
	</style>
	<title>Edit Profile</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
	
</head>
<body>
	{% include "navbar.html" %}
	{% include "edit_profile_styles.html" %}
<div class="container">
	&nbsp;
	<center>
		<form method="POST" enctype="multipart/form-data">
      		{% csrf_token %}
	        {{ form|crispy}}
	        <style type="text/css">
	        	.new-button {
    display: inline-block;
    padding: 0px 30px; 
    cursor: pointer;
    border-radius: 20px;
    background-color: #7ed957;
    font-size: 1rem;
    color: #000;
}
input[type="file"] {
  	left: 0;
  	font-size: 15px;
  	color: rgb(153,153,153);
  	padding: 5px 15px;
  	visibility: hidden;
}

	        </style>
	        <img class="img-fluid" style="width: 50px;height: 50px;border-radius: 50%;margin-top: -55px;border: 2px dotted #fff; cursor: pointer;" src="/static/{{p.profile_picture}}" id="file_btn">
	        <p id="selected"></p>
	        <input type="hidden" name="profile_picture_old" value="{{ p.profile_picture }}">
	        <input type="hidden" id="pp_url" name="pp_url" value="">
	        <input type="submit" class="ml-auto mr-auto btn btn-form-submit" value="Save Changes">
      	</form>
	</center>
&nbsp;
</div>
<script type="text/javascript">
	var compress = function(e) {
		const btn = document.querySelector('.btn-form-submit');
		btn.disabled = true;
	    const fileName = e.target.files[0].name;
	    const reader = new FileReader();
	    reader.readAsDataURL(e.target.files[0]);
	    reader.onload = event => {
	        const img = new Image();
	        img.src = event.target.result;
			const wd  = img.width;
			const ht = img.height
			img.onload = () => {
	                const elem = document.createElement('canvas');
	                const pp_url = document.querySelector('#pp_url');
	                elem.width = wd;
	                elem.height = ht;
	                const ctx = elem.getContext('2d');
	                ctx.drawImage(img, 0, 0, elem.width, elem.height);
	                ctx.canvas.toBlob((blob) => {
	                    const file = new File([blob], fileName, {
	                        type: 'image/jpeg',
	                        lastModified: Date.now()
	                    });
	                }, 'image/jpeg', 0.92);
	                pp_url.append(elem)
	                pp_url.value = elem.toDataURL();
	                btn.disabled = false;
	            },
	            reader.onerror = error => console.log(error);
	    };
	}
	document.querySelector("#id_bio").value = `{{ p.bio }}`;
	document.querySelector("#id_website").value = "{{ p.website }}";
	document.querySelector('#id_profile_picture').required = false
	document.querySelector("#file_btn").onclick = function(){
		document.querySelector('#id_profile_picture').click();
	}
	document.querySelector('#id_profile_picture').onchange = function(){
		document.querySelector('#selected').innerHTML = "Selected " + document.querySelector('#id_profile_picture').files[0].name
		compress(event);
		}
	document.querySelector('#id_profile_picture').style.display='none';
	document.querySelector('.custom-file-label').style.display='none';
</script>
</body>
</html>