{% extends 'base.html' %}
{% block title %} {{post.title}} {% endblock %} 
{% block body %}
<div
  id="page-content"
  class="wrapper stories stories-show"
  data-current-page="stories-show"
>
  <div id="page-content-inner">
    <style>
      .html-variant-wrapper {
        display: none;
      }
    </style>
    <link
      rel="canonical"
      href="/{{post.author}}/{{post.url}}"
    />
    <meta
      name="description"
      content="{{post.content|striptags|truncatewords:10}}"
    />
    <meta
      name="keywords"
      content="programming, software, coding, development, engineering, inclusive, community"
    />
    <div class="crayons-layout crayons-layout--3-cols crayons-layout--article">
      <aside class="crayons-layout__sidebar-left" aria-label="Article actions">
        <div class="crayons-article-actions">
          <div class="crayons-article-actions__inner">
            <button
              role="checkbox"
              id="reaction-butt-like"
              class="crayons-reaction crayons-reaction--like activated user-activated not-user-animated"
              data-category="like"
              title="Heart"
              aria-checked="true"
            >
              <span
                class="crayons-reaction__icon crayons-reaction__icon--inactive"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  role="img"
                  aria-labelledby="an0luwp2g4plfhpnyqwb7brtzzpyccab"
                  class="crayons-icon"
                >
                  <title id="an0luwp2g4plfhpnyqwb7brtzzpyccab">Heart</title>
                  <path
                    d="M21.179 12.794l.013.014L12 22l-9.192-9.192.013-.014A6.5 6.5 0 0112 3.64a6.5 6.5 0 019.179 9.154zM4.575 5.383a4.5 4.5 0 000 6.364L12 19.172l7.425-7.425a4.5 4.5 0 10-6.364-6.364L8.818 9.626 7.404 8.21l3.162-3.162a4.5 4.5 0 00-5.99.334l-.001.001z"
                  ></path>
                </svg>
              </span>
              <span
                class="crayons-reaction__icon crayons-reaction__icon--active"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  role="img"
                  aria-labelledby="anhpb2jy0e3imt5zbymsaekanqpqrctd"
                  class="crayons-icon"
                >
                  <title id="anhpb2jy0e3imt5zbymsaekanqpqrctd">Heart</title>
                  <path
                    d="M2.821 12.794a6.5 6.5 0 017.413-10.24h-.002L5.99 6.798l1.414 1.414 4.242-4.242a6.5 6.5 0 019.193 9.192L12 22l-9.192-9.192.013-.014z"
                  ></path>
                </svg>
              </span>
              <span
                class="crayons-reaction__count"
                id="reaction-number-like"
                alt="count"
                >3</span
              >
            </button>
          </div>
        </div>
      </aside>

      <main class="crayons-layout__content grid gap-4">
        <div class="article-wrapper">
          <article
            class="crayons-card crayons-article mb-4"
            id="article-show-container"
            data-author-id="503766"
            data-path="/devmehta/the-complete-python-basics-tutorial-1d2c"
            data-published="true"
          >
            <header class="crayons-article__header" id="main-title">
              	<div class="crayons-article__header__meta">
                <h1
                  class="fs-3xl m:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-4 medium"
                >
                  {{post.title}}
                </h1>
                <div class="crayons-article__subheader">
                  <a
                    href="/{{post.author}}"
                    class="flex items-center mr-4 mb-4 s:mb-0 fw-medium crayons-link"
                  >
                    <span class="crayons-avatar crayons-avatar--l mr-2"
                      ><img
                        class="crayons-avatar__image"
                        src="{{post.get_profile.profile_picture.url}}"
                        alt="{{post.author}} profile image"
                    /></span>
					{{post.get_profile.name}}
                  </a>
                  <span class="fs-s mb-4 s:mb-0">
                    <time
                      class="date"
                      >{{post.created_on.date}}</time
                    >
                    <span class="mr-4">・4 min read</span>
                  </span>
                </div>
              </div>
            </header>

            <div class="crayons-article__main">
			<div
                class="crayons-article__body text-styles spec__body"
                id="article-body"
              >
			  {{post.content|safe}}
			</div>
            </div>
          </article>
          <section
            class="crayons-card crayons-card--secondary text-padding mb-4 print-hidden"
            id="bottom-content-read-next"
          >
            <h2 class="crayons-subtitle-1">Read next</h2>
            <a
              href="/meredydd/12-reasons-to-use-python-not-js-for-front-end-web-development-b4a"
              data-preload-image="https://res.cloudinary.com/practicaldev/image/fetch/s--ONz5FFrR--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/0c15b17qec5fe5cift55.png"
              class="crayons-link mt-6 block"
            >
              <div class="flex items-center">
                <span
                  class="crayons-avatar crayons-avatar--xl m:crayons-avatar--2xl mr-4 shrink-0"
                >
                  <img
                    loading="lazy"
                    alt="meredydd profile image"
                    class="crayons-avatar__image"
                    src="https://res.cloudinary.com/practicaldev/image/fetch/s--3E8NKCIj--/c_imagga_scale,f_auto,fl_progressive,h_100,q_auto,w_100/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/500164/abaf2a54-1074-4793-84e6-6a3e30fef4aa.jpg"
                    width="100"
                    height="100"
                  />
                </span>
                <div>
                  <h3 class="fs-xl mb-0 lh-tight">
                    12 Reasons to use Python, not JS, for Front End Web
                    Development
                  </h3>
                  <p class="opacity-75 pt-1">
                    Meredydd Luff -
                    <time datetime="2021-02-16T16:51:56Z">Feb 16</time>
                  </p>
                </div>
              </div>
            </a>
            <a
              href="/brojenuel/javascript-date-cheat-sheet-1498"
              data-preload-image=""
              class="crayons-link mt-6 block"
            >
              <div class="flex items-center">
                <span
                  class="crayons-avatar crayons-avatar--xl m:crayons-avatar--2xl mr-4 shrink-0"
                >
                  <img
                    loading="lazy"
                    alt="brojenuel profile image"
                    class="crayons-avatar__image"
                    src="https://res.cloudinary.com/practicaldev/image/fetch/s--wHzJ2Umm--/c_imagga_scale,f_auto,fl_progressive,h_100,q_auto,w_100/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/298966/534a3ebc-8d1d-4e96-b1d3-3158e0ada522.jpeg"
                    width="100"
                    height="100"
                  />
                </span>
                <div>
                  <h3 class="fs-xl mb-0 lh-tight">
                    JavaScript: Date Cheat Sheet
                  </h3>
                  <p class="opacity-75 pt-1">
                    Jenuel Oras Ganawed -
                    <time datetime="2021-02-16T05:30:12Z">Feb 16</time>
                  </p>
                </div>
              </div>
            </a>
            <a
              href="/hextrace/arm-assembly-hello-world-33ep"
              data-preload-image=""
              class="crayons-link mt-6 block"
            >
              <div class="flex items-center">
                <span
                  class="crayons-avatar crayons-avatar--xl m:crayons-avatar--2xl mr-4 shrink-0"
                >
                  <img
                    loading="lazy"
                    alt="hextrace profile image"
                    class="crayons-avatar__image"
                    src="https://res.cloudinary.com/practicaldev/image/fetch/s--cwB2DHmA--/c_imagga_scale,f_auto,fl_progressive,h_100,q_auto,w_100/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/361653/43122ef3-dc57-4fd4-828f-c6d3f4c30425.jpg"
                    width="100"
                    height="100"
                  />
                </span>
                <div>
                  <h3 class="fs-xl mb-0 lh-tight">
                    ARM&nbsp;Assembly – hello world
                  </h3>
                  <p class="opacity-75 pt-1">
                    hextrace -
                    <time datetime="2021-01-30T19:27:34Z">Jan 30</time>
                  </p>
                </div>
              </div>
            </a>
            <a
              href="/rickavmaniac/my-beloved-laravel-cheat-sheet-3l73"
              data-preload-image="https://res.cloudinary.com/practicaldev/image/fetch/s--6OmDScqq--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/vwzltob99313c7hp9387.png"
              class="crayons-link mt-6 block"
            >
              <div class="flex items-center">
                <span
                  class="crayons-avatar crayons-avatar--xl m:crayons-avatar--2xl mr-4 shrink-0"
                >
                  <img
                    loading="lazy"
                    alt="rickavmaniac profile image"
                    class="crayons-avatar__image"
                    src="https://res.cloudinary.com/practicaldev/image/fetch/s--8S5Mjy2J--/c_imagga_scale,f_auto,fl_progressive,h_100,q_auto,w_100/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/462537/457efe41-2e68-43d6-8e69-efbe146a313d.jpeg"
                    width="100"
                    height="100"
                  />
                </span>
                <div>
                  <h3 class="fs-xl mb-0 lh-tight">
                    My beloved Laravel cheat sheet
                  </h3>
                  <p class="opacity-75 pt-1">
                    rickavmaniac -
                    <time datetime="2021-02-16T17:10:45Z">Feb 16</time>
                  </p>
                </div>
              </div>
            </a>
          </section>
        </div>
      </main>

      <aside
        class="crayons-layout__sidebar-right"
        aria-label="Right sidebar navigation"
      >
        <div
          class="crayons-article-sticky grid gap-4 break-word print-hidden"
          id="article-show-primary-sticky-nav"
        >
          <div
            class="crayons-card crayons-card--secondary branded-7 p-4 pt-0 gap-4 grid"
            style="border-top-color: #000000"
          >
            <div class="-mt-4">
              <a href="/{{post.author}}" class="flex">
                <span class="crayons-avatar crayons-avatar--xl mr-2 shrink-0">
                  <img
                    src="{{post.get_profile.profile_picture.url}}"
                    class="crayons-avatar__image"
                    alt="{{post.get_profile}} profile image"
                  />
                </span>
                <span class="crayons-link crayons-subtitle-2 mt-5"
                  >{{post.get_profile.name}}</span
                >
              </a>
            </div>
            <div class="color-base-70">
              {{post.get_profile.bio}}
            </div>
            <div>
              <a
                class="crayons-btn follow-action-button w-100 whitespace-nowrap showing"
				href="/{{profile}}/edit-profile"
				>
                Edit profile
			</a>
            </div>

            <div class="user-metadata-details">
              <ul class="user-metadata-details-inner">
                <li>
                  <div class="key">Location</div>
                  <div class="value">{{post.get_profile.location}}</div>
                </li>
                <li>
                  <div class="key">Joined</div>
                  <div class="value">
                    <time class="date"
                      >{{post.author.date_joined.date}}</time
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="crayons-card crayons-card--secondary">
            <header class="crayons-card__header">
              <h3 class="crayons-subtitle-2">
                Trending on <a href="/">CodeSpot</a>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 44 44"
                  width="24"
                  height="24"
                  role="img"
                  aria-labelledby="ak6vpkgz9r17k0eemo0pw232yxrsa2t5"
                  class="crayons-icon crayons-icon--default"
                >
                  <title id="ak6vpkgz9r17k0eemo0pw232yxrsa2t5">Hot</title>
                  <g class="nc-icon-wrapper">
                    <path
                      fill="#F4900C"
                      d="M39 23a16.96 16.96 0 00-1.04-5.868c-.46 5.389-3.333 8.157-6.335 6.868-2.812-1.208-.917-5.917-.777-8.164.236-3.809-.012-8.169-6.931-11.794 2.875 5.5.333 8.917-2.333 9.125-2.958.231-5.667-2.542-4.667-7.042-3.238 2.386-3.332 6.402-2.333 9 1.042 2.708-.042 4.958-2.583 5.208-2.84.28-4.418-3.041-2.963-8.333A16.936 16.936 0 005 23c0 9.389 7.611 17 17 17s17-7.611 17-17z"
                    ></path>
                    <path
                      fill="#FFCC4D"
                      d="M32.394 27.999c.148 3.084-2.561 4.293-4.019 3.709-2.106-.843-1.541-2.291-2.083-5.291s-2.625-5.083-5.708-6c2.25 6.333-1.247 8.667-3.08 9.084-1.872.426-3.753-.001-3.968-4.007A11.964 11.964 0 0010 34c0 .368.023.73.055 1.09C13.125 38.124 17.342 40 22 40s8.875-1.876 11.945-4.91c.032-.36.055-.722.055-1.09 0-2.187-.584-4.236-1.606-6.001z"
                    ></path>
                  </g>
                </svg>
              </h3>
            </header>
            <div>
              <a
                class="crayons-link crayons-link--contentful flex"
                href="/vanaf1979/some-small-css-tips-006-1d2o"
              >
                <span class="crayons-avatar mr-2 shrink-0">
                  <img
                    src="https://res.cloudinary.com/practicaldev/image/fetch/s---OtX0QnS--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/159642/8ed3f61e-1bf2-4b7b-84c5-ea26628214cf.jpg"
                    class="crayons-avatar__image"
                    loading="lazy"
                    alt="VA79 Stephan profile image"
                  />
                </span>
                <div>
                  Some small Css tips #006
                  <div class="crayons-link__secondary -ml-1">
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span>webdev</span
                    >
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span>css</span
                    >
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span>html</span
                    >
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span>beginners</span
                    >
                  </div>
                </div>
              </a>
              <a
                class="crayons-link crayons-link--contentful flex"
                href="/conner1115/what-happened-to-the-dev-dark-theme-3ch9"
              >
                <span class="crayons-avatar mr-2 shrink-0">
                  <img
                    src="https://res.cloudinary.com/practicaldev/image/fetch/s--b8LL_twr--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/541083/c9d1864d-22f8-4d3e-a204-f939fb65ea5c.png"
                    class="crayons-avatar__image"
                    loading="lazy"
                    alt="LeviathanProgramming profile image"
                  />
                </span>
                <div>
                  What happened to the Dev Dark Theme?
                  <div class="crayons-link__secondary -ml-1">
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span>help</span
                    >
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span
                      >watercooler</span
                    >
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span>discuss</span
                    >
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span>bug</span
                    >
                  </div>
                </div>
              </a>
              <a
                class="crayons-link crayons-link--contentful flex"
                href="/darrendube/we-should-be-teaching-our-kids-how-to-code-or-should-we-3ml4"
              >
                <span class="crayons-avatar mr-2 shrink-0">
                  <img
                    src="https://res.cloudinary.com/practicaldev/image/fetch/s--_O_kgxrG--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/395881/68f35c16-ed9b-41c9-bc04-63c2f61863e3.jpg"
                    class="crayons-avatar__image"
                    loading="lazy"
                    alt="darrendube profile image"
                  />
                </span>
                <div>
                  We should be teaching our kids how to code. Or should we?
                  <div class="crayons-link__secondary -ml-1">
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span
                      >healthydebate</span
                    >
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span>discuss</span
                    >
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span
                      >codenewbie</span
                    >
                    <span class="crayons-tag"
                      ><span class="crayons-tag__prefix">#</span>beginners</span
                    >
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </aside>
    </div>

    <div class="mod-actions-menu"></div>
    <div id="mod-actions-menu-btn-area"></div>
    <div
      data-testid="flag-user-modal-container"
      class="flag-user-modal-container hidden"
    ></div>

    <div class="fullscreen-code js-fullscreen-code"></div>

    <script async="">
      var waitingOnPodcast = setInterval(function () {
        if (typeof initializePodcastPlayback !== "undefined") {
          initializePodcastPlayback();
          clearInterval(waitingOnPodcast);
        }
      }, 1);

      if (
        document.head.querySelector(
          'meta[name="user-signed-in"][content="true"]'
        )
      ) {
        function displayPollResults(json) {
          var totalVotes = json.voting_data.votes_count;
          json.voting_data.votes_distribution.forEach(function (point) {
            var pollOptionItem = document.getElementById(
              "poll_option_list_item_" + point[0]
            );
            var optionText = document.getElementById(
              "poll_option_label_" + point[0]
            ).textContent;
            if (json.user_vote_poll_option_id === point[0]) {
              var votedClass = "optionvotedfor";
            } else {
              var votedClass = "optionnotvotedfor";
            }
            if (totalVotes === 0) {
              var percent = 0;
            } else {
              var percent = (point[1] / totalVotes) * 100;
            }
            var roundedPercent = Math.round(percent * 10) / 10;
            var percentFromRight = 100 - roundedPercent;
            var html =
              '<span><span class="ltag-votepercent ltag-' +
              votedClass +
              '" style="right:' +
              percentFromRight +
              '%"></span>        <span class="ltag-votepercenttext">' +
              optionText +
              " — " +
              roundedPercent +
              "%</span></span>";
            pollOptionItem.innerHTML = html;
            pollOptionItem.classList.add("already-voted");
            document.getElementById(
              "showmethemoney-" + json.poll_id
            ).innerHTML =
              '<span class="ltag-voting-results-count">' +
              totalVotes +
              " total votes</span>";
          });
        }

        var polls = document.getElementsByClassName("ltag-poll");
        for (var i = 0; i < polls.length; i += 1) {
          var poll = polls[i];
          var pollId = poll.dataset.pollId;
          window.fetch("/poll_votes/" + pollId).then(function (response) {
            response.json().then(function (json) {
              if (json.voted) {
                displayPollResults(json);
              } else {
                var els = document
                  .getElementById("poll_" + json.poll_id)
                  .getElementsByClassName("ltag-polloption");

                for (i = 0; i < els.length; i += 1) {
                  els[i].addEventListener("click", function (e) {
                    var tokenMeta = document.querySelector(
                      "meta[name='csrf-token']"
                    );
                    if (!tokenMeta) {
                      alert(
                        "Whoops. There was an error. Your vote was not counted. Try refreshing the page."
                      );
                      return;
                    }
                    var csrfToken = tokenMeta.getAttribute("content");
                    var optionId = e.target.dataset.optionId;
                    window
                      .fetch("/poll_votes", {
                        method: "POST",
                        headers: {
                          "X-CSRF-Token": csrfToken,
                          "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                          poll_vote: { poll_option_id: optionId },
                        }),
                        credentials: "same-origin",
                      })
                      .then(function (response) {
                        response.json().then(function (j) {
                          displayPollResults(j);
                        });
                      });
                  });
                }

                document
                  .getElementById("showmethemoney-" + json.poll_id)
                  .addEventListener("click", function () {
                    pollId = this.dataset.pollId;
                    window
                      .fetch("/poll_skips", {
                        method: "POST",
                        headers: {
                          "X-CSRF-Token": csrfToken,
                          "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                          poll_skip: { poll_id: pollId },
                        }),
                        credentials: "same-origin",
                      })
                      .then(function (response) {
                        response.json().then(function (j) {
                          displayPollResults(j);
                        });
                      });
                  });
              }
            });
          });
        }
      } else {
        var els = document.getElementsByClassName("ltag-poll");
        for (i = 0; i < els.length; i += 1) {
          els[i].onclick = function (e) {
            if (typeof showModal !== "undefined") {
              showModal("poll");
            }
          };
        }
      }

      function activateRunkitTags() {
        if (!areAnyRunkitTagsPresent()) return;

        var checkRunkit = setInterval(function () {
          try {
            dynamicallyLoadRunkitLibrary();

            if (typeof RunKit === "undefined") {
              return;
            }

            replaceTagContentsWithRunkitWidget();
            clearInterval(checkRunkit);
          } catch (e) {
            console.error(e);
            clearInterval(checkRunkit);
          }
        }, 200);
      }

      function isRunkitTagAlreadyActive(runkitTag) {
        return runkitTag.querySelector("iframe") !== null;
      }

      function areAnyRunkitTagsPresent() {
        var presentRunkitTags = document.getElementsByClassName(
          "runkit-element"
        );

        return presentRunkitTags.length > 0;
      }

      function replaceTagContentsWithRunkitWidget() {
        var targets = document.getElementsByClassName("runkit-element");
        for (var i = 0; i < targets.length; i++) {
          if (isRunkitTagAlreadyActive(targets[i])) {
            continue;
          }

          var wrapperContent = targets[i].textContent;
          if (/^(<iframe src)/.test(wrapperContent) === false) {
            if (targets[i].children.length > 0) {
              var preamble = targets[i].children[0].textContent;
              var content = targets[i].children[1].textContent;
              targets[i].innerHTML = "";
              var notebook = RunKit.createNotebook({
                element: targets[i],
                source: content,
                preamble: preamble,
              });
            }
          }
        }
      }

      function dynamicallyLoadRunkitLibrary() {
        if (typeof dynamicallyLoadScript === "undefined") return;

        dynamicallyLoadScript("//embed.runkit.com");
      }

      activateRunkitTags();

      var videoPreviews = document.getElementsByClassName(
        "ltag__twitter-tweet__media__video-wrapper"
      );
      [].forEach.call(videoPreviews, function (el) {
        el.onclick = function (e) {
          var divHeight = el.offsetHeight;
          el.style.maxHeight = divHeight + "px";
          el.getElementsByClassName(
            "ltag__twitter-tweet__media--video-preview"
          )[0].style.display = "none";
          el.getElementsByClassName(
            "ltag__twitter-tweet__video"
          )[0].style.display = "block";
          el.getElementsByTagName("video")[0].play();
        };
      });
      var tweets = document.getElementsByClassName("ltag__twitter-tweet__main");
      [].forEach.call(tweets, function (tweet) {
        tweet.onclick = function (e) {
          if (
            e.target.nodeName == "A" ||
            e.target.parentElement.nodeName == "A"
          ) {
            return;
          }
          window.open(tweet.dataset.url, "_blank");
        };
      });

      const subscribeBtn = document.getElementById("subscribe-btn");

      function isUserSignedIn() {
        return (
          document.head.querySelector(
            'meta[name="user-signed-in"][content="true"]'
          ) !== null
        );
      }

      // Hiding/showing elements
      // If clearSubscribeButton is false, we will not clear out the subscription-signed-in area,
      // which will allow users to re-submit their subscription if they see any error messages.
      // ***************************************
      function clearSubscriptionArea({ clearSubscribeButton = true } = {}) {
        if (!clearSubscribeButton) {
          // Allow users to try submitting again if they see an error.
          hideSubscriptionSignedIn();
        }

        const subscriptionSignedOut = document.getElementById(
          "subscription-signed-out"
        );
        if (subscriptionSignedOut) {
          subscriptionSignedOut.classList.add("hidden");
        }

        hideResponseMessage();

        const subscriberAppleAuth = document.getElementById(
          "subscriber-apple-auth"
        );
        if (subscriberAppleAuth) {
          subscriberAppleAuth.classList.add("hidden");
        }

        hideConfirmationModal();
      }

      // Hides the response message (which displays success/error messages) if it exists.
      // ***************************************
      function hideResponseMessage() {
        const responseMessage = document.getElementById("response-message");
        if (responseMessage) {
          responseMessage.classList.add("hidden");
        }
      }

      function showSignedIn() {
        clearSubscriptionArea();
        const subscriptionSignedIn = document.getElementById(
          "subscription-signed-in"
        );
        if (subscriptionSignedIn) {
          subscriptionSignedIn.classList.remove("hidden");
        }

        const profileImages = document.getElementById("profile-images");
        if (profileImages) {
          profileImages.classList.remove("signed-out");
          profileImages.classList.add("signed-in");
        }
      }

      function showSignedOut() {
        clearSubscriptionArea();

        const subscriptionSignedOut = document.getElementById(
          "subscription-signed-out"
        );
        if (subscriptionSignedOut) {
          subscriptionSignedOut.classList.remove("hidden");
        }

        const profileImages = document.getElementById("profile-images");
        if (profileImages) {
          profileImages.classList.remove("signed-in");
          profileImages.classList.add("signed-out");
        }

        const subscriberProfileImage = document.getElementsByClassName(
          "ltag__user-subscription-tag__subscriber-profile-image"
        )[0];
        if (subscriberProfileImage) {
          subscriberProfileImage.classList.add("hidden");
        }
      }

      function showResponseMessage(noticeType, msg) {
        clearSubscriptionArea((clearSubscribeButton = false));

        const responseMessage = document.getElementById("response-message");
        if (responseMessage) {
          responseMessage.classList.remove("hidden");
          responseMessage.classList.add(`crayons-notice--${noticeType}`);
          responseMessage.textContent = msg;

          if (noticeType === "danger") {
            // Allow users to try resubscribing if they see an error message.
            subscribeBtn.textContent = "Submit";
            subscribeBtn.disabled = false;
          }
        }
      }

      function showAppleAuthMessage() {
        clearSubscriptionArea();
        const subscriber = userData();
        if (subscriber) {
          updateProfileImages(
            ".ltag__user-subscription-tag__subscriber-profile-image",
            subscriber
          );
        }

        const subscriberAppleAuth = document.getElementById(
          "subscriber-apple-auth"
        );
        if (subscriberAppleAuth) {
          subscriberAppleAuth.classList.remove("hidden");
        }
      }

      function showSubscribed() {
        hideSubscriptionSignedIn();
        updateSubscriberData();
        const authorUsername = document.getElementById("user-subscription-tag")
          ?.dataset.authorUsername;
        const alreadySubscribedMsg = `You are already subscribed.`;
        showResponseMessage("success", alreadySubscribedMsg);
      }

      function showConfirmationModal() {
        const confirmationModal = document.getElementById(
          "user-subscription-confirmation-modal"
        );
        if (confirmationModal) {
          confirmationModal.classList.remove("hidden");
        }
      }

      function hideConfirmationModal() {
        const confirmationModal = document.getElementById(
          "user-subscription-confirmation-modal"
        );
        if (confirmationModal) {
          confirmationModal.classList.add("hidden");
        }
      }

      // Updating DOM elements
      // ***************************************
      function updateSubscriberData() {
        const subscriber = userData();
        if (subscriber.email) {
          updateElementsTextContent(
            ".ltag__user-subscription-tag__subscriber-email",
            subscriber.email
          );
        }

        updateProfileImages(
          ".ltag__user-subscription-tag__subscriber-profile-image",
          subscriber
        );
      }

      function updateElementsTextContent(identifier, value) {
        const elements = document.querySelectorAll(identifier);

        elements.forEach(function (element) {
          element.textContent = value;
        });
      }

      function updateProfileImages(identifier, subscriber) {
        const profileImages = document.querySelectorAll(`img${identifier}`);

        profileImages.forEach(function (profileImage) {
          profileImage.src = subscriber.profile_image_90;
          profileImage.alt = `${subscriber.username} profile image`;
        });
      }

      function hideSubscriptionSignedIn() {
        const subscriptionSignedIn = document.getElementById(
          "subscription-signed-in"
        );
        if (subscriptionSignedIn) {
          subscriptionSignedIn.classList.add("hidden");
        }
      }

      // Adding event listeners for 'click'
      // ***************************************
      function addSignInClickHandler() {
        const signInBtn = document.getElementById("sign-in-btn");
        if (signInBtn) {
          signInBtn.addEventListener("click", function (e) {
            if (typeof showModal !== "undefined") {
              showModal("user_subscription");
            }
          });
        }
      }

      function addConfirmationModalClickHandlers() {
        if (subscribeBtn) {
          subscribeBtn.addEventListener("click", function (e) {
            showConfirmationModal();
          });
        }

        const cancelBtn = document.getElementById("cancel-btn");
        if (cancelBtn) {
          cancelBtn.addEventListener("click", function (e) {
            hideConfirmationModal();
          });
        }

        const closeConfirmationModal = document.getElementById(
          "close-confirmation-modal"
        );
        if (closeConfirmationModal) {
          closeConfirmationModal.addEventListener("click", function (e) {
            hideConfirmationModal();
          });
        }

        const confirmationModal = document.getElementById("confirmation-btn");
        if (confirmationModal) {
          confirmationModal.addEventListener("click", function (e) {
            handleSubscription();
          });
        }
      }

      // API calls
      // ***************************************
      function submitSubscription() {
        // Hide any error messages previously rendered.
        hideResponseMessage();

        subscribeBtn.textContent = "Submitting...";
        subscribeBtn.disabled = true;

        const headers = {
          Accept: "application/json",
          "X-CSRF-Token": window.csrfToken,
          "Content-Type": "application/json",
        };

        const articleBody = document.getElementById("article-body");
        const articleId = articleBody ? articleBody.dataset.articleId : null;

        const subscriber = userData();
        const body = JSON.stringify({
          user_subscription: {
            source_type: "Article",
            source_id: articleId,
            subscriber_email: subscriber.email,
          },
        });

        return fetch("/user_subscriptions", {
          method: "POST",
          headers: headers,
          credentials: "same-origin",
          body: body,
        }).then(function (response) {
          return response.json();
        });
      }

      function fetchIsSubscribed() {
        const articleBody = document.getElementById("article-body");
        const articleId = articleBody ? articleBody.dataset.articleId : null;

        const params = new URLSearchParams({
          source_type: "Article",
          source_id: articleId,
        }).toString();

        const headers = {
          Accept: "application/json",
          "X-CSRF-Token": window.csrfToken,
          "Content-Type": "application/json",
        };

        return fetch(`/user_subscriptions/subscribed?${params}`, {
          method: "GET",
          headers: headers,
          credentials: "same-origin",
        }).then(function (response) {
          if (response.ok) {
            return response.json();
          } else {
            console.error(
              `Base data error: ${response.status} - ${response.statusText}`
            );
          }
        });
      }

      // Handle API responses
      // ***************************************
      function handleSubscription() {
        hideConfirmationModal(); // Close the modal once the user has confirmed.

        submitSubscription().then(function (response) {
          if (response.success) {
            const userSubscriptionTag = document.getElementById(
              "user-subscription-tag"
            );
            const authorUsername = userSubscriptionTag
              ? userSubscriptionTag.dataset.authorUsername
              : null;
            const successMsg = `You are now subscribed and may receive emails from ${authorUsername}`;
            showResponseMessage("success", successMsg);
            hideSubscriptionSignedIn();
          } else {
            showResponseMessage("danger", response.error);
          }
        });
      }

      function checkIfSubscribed() {
        fetchIsSubscribed().then(function (response) {
          const subscriber = userData();
          const isSubscriberAuthedWithApple = subscriber.email
            ? subscriber.email.endsWith("@privaterelay.appleid.com")
            : false;

          if (response.is_subscribed) {
            showSubscribed();
          } else if (isSubscriberAuthedWithApple) {
            showAppleAuthMessage();
          } else {
            updateSubscriberData();
          }
        });
      }

      // We load this JS on every Article. This is to only run it on Articles
      // where the UserSubscription liquid tag is present
      if (document.getElementById("user-subscription-tag")) {
        // The markup defaults to signed out UX
        if (isUserSignedIn()) {
          showSignedIn();
          addConfirmationModalClickHandlers();

          // We need access to some DOM elements (i.e. csrf token, article id, userData, etc.)
          document.addEventListener("DOMContentLoaded", function () {
            checkIfSubscribed();
          });
        } else {
          showSignedOut();
          addSignInClickHandler();
        }
      }
    </script>
  </div>
</div>
{% endblock %}
